.main {
  width: 100%;
  padding-bottom: 30px;
}
.card {
  width: 100%;
  margin: 70px auto 0;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 3fr));
  grid-gap: 90px;
}
.shuffle {
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  outline: none;
  font-size: 24px;
  color: #124eaf;
  cursor: pointer;
}
.shuffle svg {
  margin-right: 5px;
}
@media screen and (max-width: 1024px) {
  .card {
    margin: 40px auto 0;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 3fr));
    grid-gap: 35px;
  }
}
@media screen and (max-width: 500px) {
  .main {
    width: 80%;
    margin: 0 auto;
  }
  .shuffle {
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    font-size: 18px;
  }
}
