.main {
  width: 100%;
}
.loginContent h3 {
  font-size: 32px;
  font-weight: 500;
  color: #000000;
}
.loginContent p {
  font-size: 20px;
  margin-top: 16px;
  color: #000000;
}
.inputs {
  margin-top: 30px;
}
.showPass {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0 60px;
}
.showPass a {
  text-decoration: underline;
  color: #000000;
  font-family: "Raleway", "sans-serif";
}
.main button {
  width: 100%;
  margin-top: 20px;
  height: 60px;
  border: 2px solid #124eaf;
  background: #124eaf;
  border-radius: 6px;
  font-size: 18px;
  color: #ffffff;
  outline: none;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.main button:hover {
  background-color: #ffffff;
  color: #124eaf;
}
@media screen and (max-width: 550px) {
  .loginContent p {
    font-size: 16px;
    margin-top: 10px;
  }
  .main button:hover {
    background-color: transparent;
  }
}
