.main {
  width: 65%;
  padding: 30px;
  background: #ffffff;
  border-radius: 16px;
  transition: all 0.5s ease-out;
}
.code {
  max-height: 300px;
  overflow-y: auto;
  margin-top: 25px;
  border: 0.901667px solid rgba(18, 78, 175, 0.2);
}
.code > .highlight {
  height: 100%;
  width: 100%;
}
.code::-webkit-scrollbar {
  height: 5px;
  width: 0.5em;
}
.code::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 100%, 0.4);
  border-radius: 4px;
}
.code::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.15);
}
.main input {
  width: 100%;
  height: 60px;
  background: rgba(18, 78, 175, 0.05);
  border: 0.901667px solid rgba(18, 78, 175, 0.2);
  padding: 20px 30px;
  color: #777777;
  outline: none;
  font-size: 16px;
  margin-top: 25px;
}
.main input:focus {
  border: 3px solid rgba(18, 78, 175, 0.2);
}
.button {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.button button {
  width: 35%;
  padding: 20px 10px;
  background: #124eaf;
  border-radius: 4px;
  color: #ffffff;
  margin-top: 30px;
  border: 1px solid #124eaf;
  outline: none;
  transition: all 0.5s ease-in-out;
  font-size: 17px;
  cursor: pointer;
  font-weight: 500;
}
.button button:hover {
  background: #ffffff;
  color: #124eaf;
}
.button a {
  padding: 5px 10px;
  color: #124eaf;
  text-decoration: none;
  border: 1px solid #124eaf;
  border-radius: 2px;
}
.download {
  width: fit-content;
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #124eaf;
  border-radius: 1px;
  color: #124eaf;
  text-decoration: none;
  margin-top: 17px;
}
.download svg {
  margin-right: 8px;
}

@media screen and (max-width: 1024px) {
  .main {
    width: 75%;
  }
}
@media screen and (max-width: 768px) {
  .main {
    width: 100%;
    max-height: 90vh;
    margin-top: 70px;
    padding: 20px 20px 50px;
    overflow-y: auto;
  }
  z .main::-webkit-scrollbar {
    height: 5px;
    width: 0.5em;
  }
  .main::-webkit-scrollbar-thumb {
    background-color: hsla(0, 0%, 100%, 0.4);
    border-radius: 4px;
  }
  .main::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.15);
  }
}
@media screen and (max-width: 500px) {
  .button {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .button button {
    width: 100%;
    margin: 40px 0 30px;
  }
  .button a {
    padding: 5px 15px;
  }
}
