.main {
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.imageBg,
.children {
  width: 50%;
}
.imageBg {
  background-image: url("../../assets/images/authBg.png");
  background-size: cover;
  height: 100%;
  background-repeat: no-repeat;
}
.children {
    padding: 60px 56px;
  overflow-y: scroll;
  scrollbar-width: none;
}
.children::-webkit-scrollbar {
  display: none;
}
