.main {
  width: 50%;
  padding: 30px;
  background: #ffffff;
  border-radius: 16px;
  transition: all 0.5s ease-out;
  text-align: center;
  border: 1px solid rgba(18, 78, 175, 0.2);
  box-shadow: 0px 2px 17px 6px rgba(18, 78, 175, 0.25);
  border-radius: 8px;
}
.main p {
  font-size: 20px;
  margin: 30px 0;
  line-height: 36px;
}
.main button {
  width: 40%;
  padding: 20px 10px;
  background: #124eaf;
  border-radius: 4px;
  color: #ffffff;
  border: 1px solid #124eaf;
  outline: none;
  transition: all 0.5s;
  font-size: 17px;
}
.main button:hover {
  background: #ffffff;
  color: #124eaf;
  font-weight: 500;
}

@media screen and (max-width: 1024px) {
  .main {
    width: 70%;
  }
}
@media screen and (max-width: 768px) {
  .main {
    width: 87%;
  }
  .main svg {
    width: 38px;
    height: 38px;
  }
  .main p {
    font-size: 18px;
  }
  .main button {
    width: 60%;
    font-size: 15px;
    padding: 15px 10px;
  }
}
